.forgot-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef3f8;
  position: relative;
}

/* card */
.forgot-card {
  width: 900px;
  display: flex;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

/* LEFT */
.left-side {
  background: #f7f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* réduit l’espace autour de l’image */
  min-height: 450px; /* augmente la hauteur de la zone */
}

.left-side img {
  width: 100%;
  max-width: 400px; /* augmente la taille maximale de l’image */
  height: auto;
}

/* RIGHT */
.right-side {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  max-width: 150px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.custom-input {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 0 15px;
  margin-bottom: 20px;
  outline: none;
}

/* BUTTONS */
.primary-btn {
  width: 100%;
  height: 45px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
}

.outline-btn {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: 2px solid #1e88e5;
  background: white;
  color: #1e88e5;
  cursor: pointer;
  font-weight: 600;
}
