<div class="forgot-container">

  <div class="forgot-card">

    <!-- LEFT IMAGE -->
    <div class="left-side">
      <img src="assets/images/login.png" alt="illustration" />
    </div>

    <!-- RIGHT FORM -->
    <div class="right-side">



      <h2>Forgot your password?</h2>

      <p class="subtitle">
        Please enter the email address associated with your account and we will email you a link to reset your password.
      </p>

      <form [formGroup]="forgotForm" (ngSubmit)="submit()">

        <label>Email Address</label>

        <input
          type="email"
          formControlName="email"
          placeholder="admin@gmail.com"
          class="custom-input"
        />

        <button class="primary-btn">
          Forgot Password
        </button>

        <button
          type="button"
          routerLink="/authentication/login"
          class="outline-btn"
        >
          Back to Login
        </button>

      </form>

    </div>

  </div>

</div>