.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-18 {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.m-r-4 {
  margin-right: 4px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 12px;
}

.f-s-12 {
  font-size: 12px;
}
