<div class="dialog-container">

  <div class="dialog-header">
    <h2 class="dialog-title">
      <mat-icon class="header-icon">person_add</mat-icon>
      Add New Patient
    </h2>
    <p class="dialog-subtitle">Please fill in the patient's information below</p>
  </div>

  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="patient-form">

    <!-- PHOTO -->
    <div class="form-row photo-row">
      <div class="photo-upload" (click)="fileInput.click()">

        <img *ngIf="imagePreview; else cameraIcon" [src]="imagePreview" class="photo-img" />

        <ng-template #cameraIcon>
          <mat-icon class="camera-icon">photo_camera</mat-icon>
        </ng-template>

        <input #fileInput type="file" hidden accept="image/*" (change)="onFileSelected($event)" />
      </div>
    </div>

    <!-- NAMES -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <!-- EMAIL + PHONE -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>

          <input matInput type="password" formControlName="password">

          <mat-icon matSuffix>lock</mat-icon>

          <mat-error *ngIf="patientForm.get('password')?.invalid && patientForm.get('password')?.touched">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
    </div>

    <!-- DATE + GENDER -->
    <div class="form-row">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date of Birth</mat-label>

        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" readonly (click)="picker.open()">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="patientForm.get('dateOfBirth')?.invalid">
          Date is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let g of genderOptions" [value]="g.value">
            {{ g.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <!-- ADDRESS -->
    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>

    <!-- MEDICAL -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Medical Record</mat-label>
        <input matInput formControlName="medicalRecordNumber">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Emergency Contact</mat-label>
        <input matInput formControlName="emergencyContact">
      </mat-form-field>
    </div>

    <!-- ASSIGNMENT -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Service</mat-label>
        <mat-select formControlName="serviceId">
          <mat-option *ngFor="let s of services" [value]="s._id">
            {{ s.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Doctor</mat-label>
        <mat-select formControlName="doctorId">
          <mat-option *ngFor="let d of doctors" [value]="d._id">
            {{ d.firstName }} {{ d.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nurse</mat-label>
        <mat-select formControlName="nurseId">
          <mat-option *ngFor="let n of nurses" [value]="n._id">
            {{ n.firstName }} {{ n.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Coordinator</mat-label>
        <mat-select formControlName="coordinatorId">
          <mat-option *ngFor="let c of coordinators" [value]="c._id">
            {{ c.firstName }} {{ c.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <!-- ACTIONS -->
    <div class="dialog-actions">
      <button mat-button type="button" (click)="onCancel()">Cancel</button>

      <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid">
        Add Patient
      </button>
    </div>

  </form>
</div>